* {
	all: unset;
}

window {
	padding: 8px;
	background-color: transparent;
}

.outer-box {
	padding: 4px 4px 0 4px;
	background-color: transparent;
}

.inner-box {
	padding: 2px 2px;
	background-color: #121212;
	border-radius: 99999px;
}

.datetime {
	font-weight: 600;
}

@mixin material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
}

@mixin material-icons-filled {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
}

.topbar-button {
	background-color: transparent;
	border-radius: 99999px;
	padding: 4px 4px;
	transition: background-color 80ms ease;
	font-size: 17px;
}

.topbar-button:hover {
	background-color: rgba(255, 255, 255, 0.10);
}

.topbar-button:active {
	background-color: rgba(255, 255, 255, 0.05);
}

$material-red-500: #F44336;
$material-green-500: #4CAF50;
$material-amber-500: #FFC107;
$material-blue-600: #1E88E5;
$material-blue-500: #03A9F4;

.topbar-icon-button-symbols-outlined {
	@include material-symbols-outlined;
}

.topbar-icon-button-icons-filled {
	@include material-icons-filled;
}

.topbar-button-red {
	color: $material-red-500;
}

.topbar-button-white {
	color: white;
}

.topbar-button-green {
	color: $material-green-500;
}

.topbar-button-amber {
	color: $material-amber-500;
}

.topbar-icon-label {
	@include material-symbols-outlined;
}

.topbar-label-white {
	color: white;
}

.topbar-label-orange {
	color: $material-amber-500;
}

.topbar-label-red {
	color: $material-red-500;
}

@mixin control-bar-color($color) {
	trough highlight {
		background-color: $color;
	}
}

.control-bar {
	background-color: #212121;
	border-radius: 99999px;
	min-height: 8px;
	padding-top: 1px;

	trough {
		border-radius: 9999px;
		min-height: 8px;
		min-width: 64px;
		border-radius: 9999px;

		highlight {
			border-radius: 9999px;
		}
	}

	&-text {
		font-size: 12px;
		color: #9E9E9E;
	}
}

.volume-control {
	$color: $material-blue-500;
	&-bar {
		@include control-bar-color($color);
	}
	&-icon {
		color: $color;
	}
}

.player-control {
	background-position: center, center;
	background-size: cover;
	background-repeat: no-repeat, no-repeat;
	background-blend-mode: overlay;
	background-clip: border-box, border-box;
	background-origin: border-box;
	border-color: transparent;
	border-width: 0;
	border-radius: 99999px;
	padding: 0 0;
	margin: 2px 4px;

	&-main-text {
		font-size: 11.5px;
		margin: 0 2px;
		color: rgba(255, 255, 255, 0.67)
	}
}

.player-control-progress {
	background-color: rgba(255, 255, 255, 0.75);
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 99999px;
	border-bottom-right-radius: 99999px;
}